<head>

    <title>Final Website</title>
    
    <link rel="stylesheet" href="css/website.css">

</head>

Body{

    width:700px;
    padding:50px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    
}

body{

    text-align:center;
    
    font-family: fantasy, sans-serif, inherit;
}

body{

    border: 10px ridge #000;
    
    background-color: #8332a8;
}

a{

    font-size: 20pt;

    color: #000000;

    text-decoration:none;
}

a:hover{

    color: #bf58e8;
}

p{

    font-family: fantasy, inherit, monospace;
    font-size: 20pt;
}

