img {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  display:block;
  border: 7px dotted #b3ccff;
}

body {
  text-align:center;
  background-color:#e6e6ff;
}

div {
  margin-top:10px;
  margin-bottom:25px;
}

p {
  margin-left:auto;
  margin-right:auto;
  width:50%;
  font-family:'Montserrat Alternates', sans-serif;
}

a {
  text-decoration:none;
  color:#b3003b;
}

a:hover {
  text-decoration:underline;
  color:#660022;
}

h2 {
  font-family:'Stylish', sans-serif;
}

h1 {
  font-family:'Stylish', sans-serif;
}