.centerimage {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

	h1 {
		font-family: 'Press Start 2P', cursive;
		text-align: center;
		font-size: 50px;
		color:black;
		box-shadow: box-shadow: -7px 7px 7px grey;
	}



	h2 {
		color: #ffffff;
		background-color: #3e4c60;
		width: 1005px;
		margin-right: auto;
		margin-left: auto;
		border-radius: 3px;
		font-family: 'Press Start 2P', cursive;
		font-size: 15px;
		text-align: center;
		box-shadow: 10px 10px 20px black;
	}

body{
	margin: 0;
	padding: 0; 
 }

 section {
	    font-size: 15pt;
	    font-family: 'Press Start 2P', cursive;
        background-color: white;
        width: 400px;
        padding: .016px;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        box-shadow: 10px 10px 20px black;
        margin-bottom: 75px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px; 
        }



.container{
	text-align: center;


}

.btn{

	box-shadow: 10px 10px 20px black;
	background: white;
	padding: 10px 20px;
	border-radius: 9px;
	font size: 20px;
	font-family: 'Press Start 2P', cursive;
	cursor: pointer;
	display: block;
	margin-right: auto;
	padding: 10px 20px;
	margin-left: auto;
	transition: 0.8s;
	position: relative;
	overflow: hidden;

}



</style>