html
body {width:1000px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border: 03px dashed #000;
    background-color: rgba;
    text-align: center;
    ;
}
a {
    font-size: 17pt;
    color: red;
    text-decoration: none;
    font-family: 'Merriweather', serif
   
}
a:hover {color: yellowgreen}
banner{
    text-align: center;
}
nav{
    display: contents;
}
h1 {
    font-family:"Blippo",fantasy;
    font-size: 28pt;
    color: black;
    border-bottom: 2px dotted red;
    border-top: 2px dotted red;
    text-transform: capitalize;
    }
    h2{
    text-align: center;
    }
p{
     font-family: 'Roboto', sans-serif;
    font-size: 19pt;
    line-height:a
    color:Red;
    border:2px solid #ff0000;
}
img{
    border: #ff0000 solid 2px;
}
