           @font-face{
                font-family:'alien';
                src:url('../fonts/AlienLeagueGradient-r6W8.otf');
                
            }
            
            body{
                cursor: url(../images/cursor.png),auto;
                background-repeat: no-repeat;
                background-size:cover;
                background-attachment: fixed;
            }
            
            .container{
               margin:auto;
               width:1000px;
            }
            
            h1{
                color:white;
                text-align: center;
                font-size: 80pt;
                letter-spacing: -3px;
                font-family: 'alien';
                
            }
            
           h2{
               font-size:20pt;
                 
            }
            
            .introduction{
                color:white;
                text-align: center;
                font-size: 12pt;
                font-family:sans-serif;
                letter-spacing: 1px;
                line-height: 150%;
                font-weight:600;
                margin-top:200px;
            }
          
                
           
            
             button{
            color:white;
            font-size:100pt;
            border: 2px solid #e7e7e7;
            font-family:'alien';
            text-decoration: none;
            background-color: black;
            margin-top: 20px;
            font-size: 15pt;
            font-weight:bold;
            padding: 10px 20px;
            border-radius: 15px
            }
            
            
            button:hover{
                background-color: white;
                color:black;
            }