* {
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 1.5rem;
    background-color: #3f6d7b;
}

.container {
    width: 1000px;
    max-width: 100%;
    margin: auto;
    padding: 1rem;
    background-color: #def7ff;
    border-radius: 2rem;
    margin-top: 2rem;
    box-shadow: 0.5rem 0.5rem 0 #00004d8c;
    padding-bottom: 2rem;
    position: relative;
}

#add {
    width: 75%;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 0;
    padding-left: 3rem;
    box-shadow: 0.5rem 0.5rem 0 #00004d8c;
}

header {
    display: grid;
    grid-template-columns: 50% 50%;

}

#nameListInput {
    border-radius: 0.5rem;
    border: 0.155rem solid #00004d8c;
}

#edit {
    width: 1rem;
    aspect-ratio: 1/1;
}

header div:nth-child(2){
    text-align: right;
}

main {
    display: grid;
    grid-template-columns: 100%;
   
}

.delete::after {
   content: 
}

#visbileList {
    padding-left: 3rem;
    margin-top: 2rem;
}

#note2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:red;
}

.tab {
    background-color: red;
    position: relative;
    top: -2rem;
    height: 3rem;
    width: 10rem;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}


ul {
    padding-bottom: 0;
    margin-bottom: 0;
}

#editList {
    width: 1rem;
}

nav a {
    display: block;
    width: 50%;
    min-width: 400px;
    padding: 1rem;
    text-decoration: none;
    color: black;
    border-bottom: 0.25rem solid #2c2c2c;
    transition: 0.5s all;
}

nav a:hover {
    color: red;
}
.fa-circle-minus {
    margin-left: 0.5rem;
    font-size: 1rem;
    color: black;
    transition: 0.15s all;
}

.fa-circle-minus:hover {
    color: red;
}
img {
    width: 3rem;
    aspect-ratio: 1/1;
}
.hide {
    display: none;
}
.show {
    display: block;
}
#edit-area {
    font-size: 1rem;
}
footer {
    font-size: 1rem;
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
}

input[value]{
    color: #9a9a9a;
}

input[value]:focus {
    color: black;
}