body {
    
    background-image: url(backgroundamongus.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

main {

    background-color: #380000;
    color: white;
    border: 10px solid #380000;
    width: 700px;
}

button {
    
    font-size: 18pt;
    font-family: "Rising Sun";
    width: 160px;
    
}

footer {

    color: white;
    position: absolute;
    bottom: 0;
    left: 45%;
    right: 50%;
    width: 200px;
}

.container {
    top: 0;
    left: 27.6%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 60px solid #380000;
    border-top: 46px solid #380000;
    border-bottom: 221px solid #380000;
    width: 700px;
}

h1 {
    
    font-family: "Rising Sun";
    color: black;
}

p {
    
    font-family: "Rising Sun";
}