
body {
    background-color:#e7dcf2;}
    
h1 {color:mediumpurple;
    font-family:"Tahoma";
    margin:auto;
    text-align:center;
    font-size: 35pt;
    padding-top:40px;
}

header  {text-align: center;
    margin:auto;
    
}

nav {
    text-align: center;

}

p {font-size: 16pt;
    text-align:center;
font-family: "Times New Roman;"}

main{padding-top:40px;
    margin:auto;
        text-align: center;
        }


h2 {
font-size: 17pt;}


a {color:black;}