div{
    padding: 25px;
    width: 800px;
    margin: auto;
    align-content: center

}
body{
    background-image: url(IntroPic.jpg);
     background-color: black; 
  height: 500px; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}
p{
    font-family: 'Helvetica';
    font font-size: 16pt;
    }
section{
    background-color: white;
    padding: 25px;
    width: 800px;
    margin: auto;
    text-align: center;
    align-content: center;
    font-family: 'Helvetica';
}
img {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 85%;
    max-height: 85%;
} 
button{
     background-color: white;
    padding: 25px;
    width: 400px;
    margin: auto;
    font-family: 'Helvetica';
    font-size: 20pt;
    align-content: center; 
} 

