/*    stylesheet  */

/* == typegraphy ===*/

h1{
    color:#F1912D;
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: 36pt;
    line-height: 18pt;
    font-variant: small-caps;
    text-align: center;}


    
h3{
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 20pt;
    line-height: 18pt; 
    text-align: center;}


h6{ 
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 8pt;
    text-align:center;}



.special{
    font-family: 'Times New Roman';
    font-style: bold;
    font-size: 30pt;
    line-height: 18pt;
    text-align: center;}


p{
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 18pt;
    line-height: 18pt;
    text-align: center;}


button{
    font-family: 'Times New Roman';
    font-style: normal;
    font-size: 17pt;
    background-color: #E5AE3F;
    border-radius: 60px;
    border:none;
    text-decoration: none;
    text-align:center;
    margin-top: 5%;}




/* == backgaroud/images ===*/

body{
    background-image: url(bg.jpeg);
    background-repeat: no-repeat;
    background-size:cover; }
  



.container{
    background-color: #96CFB2;
    width: 1500px;
    height:900px;
    padding:20px;
    margin:auto;
    text-align: center;}
    
    
.images{
      display:grid;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
 height: 400px; }    
    

.column {
  float: left;
  width: 32%;
  padding: 3px;}



.column2 {
  float:center;
  width: 32%;
  padding: 3px;}


.images2{
  display:grid;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
 height: 700px;}    
    


