

.project-content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    background-color: rgba(255,255,255,0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


.project-content p {
    font-size: 20px;
}

.contact-link {
    color: rgba(191, 63, 144, 1);
}


/* Video
-------------------------*/
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}