<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TEMPLATE</title>
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <div class="container">
        <header>
            <h1>FOREST ESCAPE</h1>
        </header>
        <main>
            <figure><img src="Images/hiding under bed 3.jpg"></figure>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi laudantium voluptas neque, ipsum cum accusantium ut animi corporis officiis consectetur soluta fuga architecto ullam adipisci modi nulla aut consequuntur quas.</p>
            <a href="test.html"><button type="button">Run Away</button></a>
            <a href="test.html"><button type="button">You Thought</button></a>
        </main>
        </div>
        <footer class="foot">
            <p>© Jane Huynh<br><a class="cred" href="https://pexels.com">Photo Credits</a></p>
        </footer>
    </body>