html {
    background-image: url(../Images/zarape.jpeg);
}

body {
    width::700px;
    padding: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
     
}

body {
    text-align: center;
    font-family: Rajdhani ,Arial ,sans-serif ;
  
}

body {
    border: 4px solid #000;
    background-color: #C1761C;
    
}

a {
    font-size: 14pt;
    color:#666;
    text-decoration: none;
}
a:hover{
    color: #686143;
    
}

a.ex2:hover, a.ex2:active {
    font-size: 125%;
}
    

h1{
    font-size: 36;
    color: white;
    border-top: 2px solid #686143;
    border-bottom: 2px solid #686143;
    text-transform: uppercase;
}

P{font-family: Rajdhani ,Arial ,sans-serif ;
    font-size: 14pt;
    line-height: 14pt;
    text-align: center;
    color: white;
}

img{
    border: medium solid #666;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}
a{font-family: Rajdhani Bold,Arial Bold,sans-serif Bold;}