/* These are pre-created styles that anyone can add and use within their designs */

.buttonRed {
background-color: red;
}

.buttonOrange {
background-color: orange;
}

.buttonBlue {
background-color: blue;
}

.buttonGreen {
background-color: green;
}

.buttonYellow {
background-color: yellow;
}

.buttonPurple {
background-color: purple;
}

.textArial {
font-family: 'Arial';
}

.textCourier {
font-family: 'Courier';
}

.textVerdana {
font-family: 'Verdana';
}

.textTimes {
font-family: 'Times New Roman';
}

.textHelvetica {
font-family: 'Helvetica';
}

.textImpact {
font-family: 'Impact';
}

.textTahoma {
font-family: 'Tahoma';
}

.sizeSmall {
font-size: 0.75em;
padding: 5px
}

.sizeMedium {
font-size: 1em;
padding: 15px
}

.sizeLarge {
font-size: 1.5em;
padding: 25px;
}
.shadow {
box-shadow: 5px 5px 5px #000;
}