body {
    background-image: url(full01.jpg);


}h1{
            font-style: italic;
            font-family: cursive; 
        }


.container {
    background-image: url("jail.jpg");

    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.evilcontainer {
    background-image: url("evil.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Tcontainer {
    background-image: url("transformation.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Scontainer {
    background-image: url("Srone.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Lcontainer {
    background-image: url("Alien.jpg");

    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Gcontainer {
    background-image: url("Gods.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Ncontainer {
    background-image: url("Death.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Rcontainer {
    background-image: url("New.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Econtainer {
    background-image: url("evolve.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.Defeatcontainer {
    background-image: url("defeat.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.catcontainer {
    background-image: url("cat.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

.recontainer {
    background-image: url("reborn.jpg");
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

footer {
    font-size: 10pt;
}
title{
            font-family: 'GothicE';
        }

p {
    color: white;
    font-size: 18pt;
}

.title {
    color: #2E294E;
}

h1 {
    color: white;
    font-family: 'GothicE';
    font-size: 45pt;
}

.wrapper {
    text-align: center;

}

.middlebutton {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 47.5%;
    border-radius: 12px;
}

.Lmiddlebutton {
    font-size: 35px;
    position: absolute;
    top: 60%;
    left: 47.5%;
    border-radius: 12px;
}

.Smiddlebutton {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 46.5%;
    border-radius: 12px;
}

.Dmiddlebutton {
    font-size: 35px;
    position: absolute;
    top: 40%;
    left: 46.5%;
    border-radius: 12px;
}

.Cmiddlebutton {
    font-size: 35px;
    position: absolute;
    top: 70%;
    left: 47%;
    border-radius: 12px;
}

.remiddlebutton {
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 43.15%;
    border-radius: 12px;
}

.firstbutton {

    font-size: 35px;
    position: absolute;
    top: 54%;
    left: 40%;
    border-radius: 12px;

}

.sbutton {
    font-size: 35px;
    position: absolute;
    top: 54%;
    left: 55%;
    border-radius: 12px;

}

.gfirstbutton {

    font-size: 35px;
    position: absolute;
    top: 57.2%;
    left: 35%;
    border-radius: 12px;

}

.gsbutton {
    font-size: 35px;
    position: absolute;
    top: 57.2%;
    left: 55%;
    border-radius: 12px;

}

.firstbutton:hover {
    background-color: #2E294E;
    color: #FFBE6B;

}
