h1 {
    font-size: 30pt;
}
h2 {
    font-size: 24pt;
}
p {
    font-size: 16pt;
    font-weight: bold;
}
button {
    color: #6E6B58;
    border: 0px;
    border-radius: 15px;
    padding: 15px;
    background-color: #D4CFA9;  
    font-weight: bold;
    font-family: fantasy;
}
body {
    font-family: 'Tolkien', 'Segoe Print', 'Avalon Quest', 'Times New Roman';
    background-color: #F8F2C7;
    color: #6E6B58;
}
div {
    background-color: #EDE8BE;
    text-align: center;
    width: 800px;
    padding: 20px;
    border: solid 10px #A35207;
    margin: auto;
    border-radius: 10px;
    
}