html {
    background-image: url(../Images/Marble.jpg);
}
.htmlclass{background-image: url(../Images/plant%20copy.jpg);}
 
body {
    width: 70%;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: teal;
    text-align: center;
}




footer {
    text-align: center;
    ;
}





a {
    font-family: 'BenchNine', sans-serif;
    font-size: 13pt;
    color: beige;
    text-decoration: none;
    padding: 15px;

}



.vectordescription {
    font-family: 'BenchNine', sans-serif;
    font-size: 30px;
    color: aliceblue;
    font-size: 28px;
    background-color: darkturquoise;
    border-bottom: solid px ghostwhite;
    ;
    border-right: solid px ghostwhite;

    box-shadow: 8px 8px 8px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 20px;
}

.description {
    font-family: 'BenchNine', sans-serif;
    font-size: 10px;
    color: aliceblue;
    font-size: 28px;
    background-color: skyblue;
    border-bottom: solid px ghostwhite;
    ;
    border-right: solid px ghostwhite;
    border-left: solid .5px ghostwhite;
    box-shadow: 8px 8px 8px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    padding: 20px;
}

.motionbody {
    background-color: #0ebded;
}

h2 {
    font-family: 'BenchNine', sans-serif;
    color: teal;
    font-size: 30px;
    border-top: solid 5px black;
    border-bottom: solid 5px black;
    background-color: black;
    margin-left: ;
    margin-right: ;

}

.pixels {
    color: dodgerblue;

}

.vector {
    color: indianred;
    text-shadow: 10px 10px 10px black;
    margin-top: -5px;
    margin-bottom: -5px;
}


.motion {
    background-color:#04263b;


    
    box-shadow: 4px 4px 4px 4px ;
    margin-right: px;
    margin-left: px;
    margin-bottom: -8px;
    color:#007491;
    margin-top: -19px;
        ;
}
.motiontwo{   background-color:#04263b;


    
    box-shadow: 4px 4px 4px 4px ;
    margin-right:100px;
    margin-left: 100px;
    margin-bottom: -8px;
    color:#007491;
    margin-top: 50px;
      padding:1px;}
.bannerimagemotion{box-shadow: 8px 8px 8px;
width: 100%;}
.print {
    color: lime;
    background-color: black;

    border-top: 4px solid black;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
    Border-right: 3px solid black;
    box-shadow: 8px 8px 8px;
    margin-right: 3px;
    margin-left: 1px;
    margin-bottom: 10px
}

a:hover {
    color: dodgerblue;
}


h1 {
    font-size: 60pt;
    font-family: 'Creepster', cursive;

    text-align: center;



}

.contactheading {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 60pt;
    text-shadow: aqua 8px 8px 8px
}

.printbody {
    background-color: seagreen;
}




.banner {
    width: 100%;
       ;
}

.banner img {
    width: 100%;
          ;
}

.contactimage {
    width: 54%;
    margin-bottom: -10px;
    border: px black solid;
}

.image {
    width: 50%;
    border: solid 5px black;
}

.pixelimage {
    width: 69%;



}

.homeimage {
    width: 80%;
    margin-bottom: -3px;
    ;

}

.contactdescription {
    font-family: 'BenchNine', sans-serif;
    font-size: 20px;
    color: lightcyan;


    border-bottom: solid px ghostwhite;
    background-color: lightpink;
    border-right: solid px ghostwhite;

    box-shadow: 8px 8px 8px;
    margin-left: 260px;
    margin-right: 260px;
    margin-top: 5px;
    padding: 5px;
}

.pixeldescription {
    font-family: 'BenchNine', sans-serif;
    font-size: 10px;
    color: lightcyan;
    font-size: 28px;
    border-top: solid .5px ghostwhite;
    border-bottom: solid px ghostwhite;
    background-color: black;
    border-right: solid px ghostwhite;
    border-left: solid .5px ghostwhite;
    box-shadow: 8px 8px 8px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 10px;
    padding: 50px;
}

.photoshopbody {
    background-color: skyblue
}


.printdescription {
    font-family: 'BenchNine', sans-serif;
    font-size: 10px;
    color: ghostwhite;
    font-size: 28px;
   
    border-bottom: solid .5px ghostwhite;
    background-color: black;
    

    box-shadow: 8px 8px 8px;
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 10px;
    padding: 50px;
}
