
html 

body{
  background-size: 100%;
}

body {
width:100%;
padding:25px;
margin-top:5px;
margin-left:auto;
margin-right:auto;
}

body {
border:3px dotted #15042E;
background-color:paleturquoise;
}

body {
    text-align: center;
}

a {
text-align:center;
font-family:'Kodchasan';
}

a {
font-size:16pt;
color:#3C105E;

}


a:hover {
color:#D719FC;
}

h1 {
font-size:36pt;
font-family: 'Righteous',cursive;    
color:#BF45BF;
border-top:2px dotted #3C105E;
border-bottom:2px dotted #3C105E;
text-transform:uppercase;
}

h2 {
font-size:28pt;
font-family: 'Righteous',cursive;    
color:#BF45BF;
}

h3 {
 font-size:20pt;
font-family: 'Righteous',cursive;    
color:#BF45BF;
}   

h4 {
 font-size:16pt;
font-family: 'Righteous',cursive;    
color:#BF45BF;
}


p {

font-size:20pt;
font-family: 'Indie Flower';    
line-height:25pt;
color:#141169 
}

img {
border:medium solid #2CA8D1;
box-shadow:5px 5px 5px rgba(0,0,0,.3);
}

li {
    font-size:16pt;
font-family: 'Righteous',cursive;    
color:#4EFCF7;
}