

body {background-color: darkred}

.color {background-color: beige;
width:1000px;
margin:auto}

.description {background-color:beige;
height: 250px;
margin-right: auto;
padding:25px;
text-align: justify;

}



/*== Image and Text Alignment ==*/

.choice1 {background-color: darkred;
border: 2px solid black; text-align:center;
width:175px;
padding:5px;
float:right;
}

/*== Typography ==*/

a {color:beige}

body {font-family:"king";
padding-bottom: }

h1{font-family: "king";
text-align:left;
font-size: 20px;
padding: 10px;
text-align: center;
border: 2px solid black;
}

footer {font-size: 9px;
padding-top: 5px;
padding-left: 10px
}