body{background-image:url(old%20paper.jpg); 
width: auto;}

button{background-color: saddlebrown;
font-size: 15pt;
font-family:'Bacon'; 
margin:auto;
    margin-bottom: 10px;
padding: 3pt;
    width: 200px;
    text-align: left;
    border: none;
}

button:hover{color: #b30917;
font-family: 'Bacon';}


h1 {text-align: center;
    padding-top: 20px;
    font-family: 'Chunkfive';
}


footer{text-align: right;
        padding-top: 80pt; }

p{margin-left: 100pt;
  margin-right: 100pt;
  margin-bottom: 10pt;
}

img{
display: block;
margin: auto;
padding: 10pt;}