
html {
    background-image: url(../images/tacowallpaper.jpg);
}


body {
    background-color: transparent;
    font-family: Bitter, serif;
    font-size: 16px;
    max-width: 1500px;
    border: double;
    padding: 20px;
  
}

nav{
    font-family: Helvetica, sans-serif;
    text-align: center;
    padding:0;
    display: flex;
    justify-content: space-around;
    border: transparent;
        
}

a:link, a:visited {
  background-color: #C74438;
  color: white;
  padding: 0px 90px;
  text-align: center; 
  text-decoration: none;
}

a:hover, a:active {
  background-color: #fa8107;

}


img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
}

div.gallery {
    margin-top: 0px;
    margin-left: 150px;
}

div.map{
    padding-left: 50px; 
}

div.desc {
    margin-top: 9px;
    text-align: center;
    font-family: Arial;
    font-size: 16px;
    width: 950px;
    padding: 8px;
    margin-left:200px;
    background: #F3B587;
}

div.explain {
    font-family: Hepta Slab;
    padding: 10px;
    width: auto;
    font-size: 30px
    
    
}

iframe{
    padding-left: 50px;
    width: 600px;
}

h1 {
    max-width: 600px;
    margin-left: 50px;
    color: #EA7823;
    border-bottom: 4px solid #000;
    font-family: Arial, sans-serif;
}

p{
    margin-left: 50px;
    color: #634517;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
h2{
    font-family: Alfa Slab One, cursive;
    padding-left: 30px;
    font-size: 40px;
}

div.taco {
    padding:40px;
    vertical-align: baseline;
    width: 500px;
    overflow: hidden;
}

div.about{
    width: 600px;
    float: right;
    margin-top: -800px;
    margin-right: 40px;
    font-size: 25px;
    font-family: Arial;
}

div.tropisueno{
    padding-left:50px;
    padding-bottom: 20px;
}

.review{
    font-family: arial;
    column-count: 2;
    padding-left: 50px;
}
.column{
    float:right;
    width:50%;
    padding-left:80px;
    padding-top: 30px;

}

.row{
    content:"";
    clear:both;
    display:table;
    padding-top: 20px;
}


@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}