img{
    max-width: 100%;
}

@media screen and (max-width: 480px){
   body {
    font-size: 1rem;
    line-height: 1.25rem;
   }
   
    .mobile nav a {
    font-size: 2rem;
    padding: 1rem 0;
   }

   #contact {
    padding: 0;
   }
   
   .area {
    grid-template-columns: 100%;
    height: inherit;
   }
    


#rsvp .text, #directions .text, #donate .text, .col-video .text, .col-contact .text {
    display: flex;
    align-items: center;
}

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    #desktop {
        display: none;
    }

    #splash {
        background-image: none;
        background-color: #4bb7c9;
    }

    h1 {
        padding: 0;
        margin: 0;
    }

    #title {
       font-size: 2rem;
       line-height: 2rem;
       color: #fff;
       
       margin-top: 2rem;
    }
    
    .mobile-title-image {
        background-image: url(wedding7.jpg);
        background-size: cover;
        padding: 4rem 0;
    }

    #mobile-button {
        display: none;
    }
    .column {
        min-height: 50vh;
    }

    #contact .column {
        display: block;
    }

    #directions>div:nth-child(1){
        background-image: url(sf2.jpg);
        background-size: cover;
    }

    #directions>div:nth-child(2){
        background-image: none;
        background-image: url(palm.png);
        background-color: #7d842d;
    }



    .text {
        width: 100%;
        height: 100%;
        padding: 0rem 1rem;
        background-color: rgb(255,255,255,0.85);
    }

    .col-rsvp-photo, .col-directions-photo, .col-donate-photo {
        min-height: 50vh;
    }

    .col-video {
        background-color: #5effb1;
    }

    .col-video h2 {
        margin-top: 1rem;
    }

    .design1,
    .design2,
    .design3,
    .design4,
    .design5,
    .design5,
    .design6,
    .design7,
    .design8,
    .design9,
    .design10,
    .design11 {
        display: none;
    }

    
    #rsvp a, #directions a, #donate a {
        width: 100%;
    }

    .col-donate-text, .col-contact {
        min-height: 33vh;
    }

    #splash .text {
        padding: 0;
    }
    .splash-text {
        padding: 1rem;
    }
}