  
            @font-face{
                font-family:'alien';
                src:url('../fonts/AlienLeagueGradient-r6W8.otf');
                
            }
            
            body{
                cursor: url(../images/cursor.png),auto;
                background-image: url(../images/star2.gif);
                background-repeat: no-repeat;
                background-size:100% 100%;
                background-attachment: fixed;
            }
            
            .container{
                margin:auto;
                width:1000px;
            }
            
            button{
            color:white;
            font-size:100pt;
            border: 2px solid #e7e7e7;
            font-family: 'alien';
            text-decoration: none;
            background-color: transparent;
            margin-top: 20px;
            font-size: 15pt;
            font-weight:700;
            padding: 10px 20px;
            border-radius: 15px
            }
            
            
            button:hover{
                background-color: white;
                color:black;
            }
            
            
            h1{
                color:white;
                text-align: center;
                padding-top: 200px;
                font-size: 80pt;
                letter-spacing: -3px;
                font-family: 'alien';
                
            }
            
            .introduction{
                color:white;
                text-align: center;
                font-size: 12pt;
                font-family:sans-serif;
                letter-spacing: 1px;
                font-weight:300;
                margin-top:-30px;
                padding-bottom: 100px;
            }
            
            footer{
                text-align: center;
                color:aliceblue;
                font-weight:300;
                font-family:sans-serif;
                font-weight:300;
                font-size: 8pt;
                
            }