html{
    background: url(Images/Untitled-1.png);
    background-repeat: no-repeat
    background-size:;
}

nav{
    background-color: beige;
    width: auto;
    font-size: 25pt;
    color: brown;
    text-align: center;
    border-radius: 50px 20px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}

a{
    font-size: 18pt;
    color: brown;
    font-family: 'Coiny', cursive;
    text-decoration: none;
}

a:hover{
    color: sandybrown;
}

p{
    text-align: center;
    background-color: oldlace;
    border-radius: 5px;
   
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
    
    margin-left: 100px;
    margin-right: 100px;
   
    color: brown;
    font-family: 'Mansalva', 'Comic Neue', cursive;
    font-size: 14pt;
}


footer{
    text-align: right;
    align-content: flex-end;
}

body{
    text-align: center;
    
}

img{
    align-self: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

iframe{
    align-self: center;
    margin: auto;
    box-shadow: 5px 5px 5px rgba(0,0,0,.3);
}

li{
    display: inline;
}

ul{
    list-style: none;
}
