html 

head {
    text-align: center;
    
}
h2 {
    border-bottom-style: dotted;
font-family:fantasy;
 font-size: 30pt;
}

body {
    background: linear-gradient(125deg, red,orange, yellow);
    text-align: center;
    
}
h3 {
    border: solid 4px;
     padding-left: 100px;
    padding-right: 100px;
    text-align: none;
    font-size: 20pt;
    font-family:cursive;
        
}
