
h1 {color: #910f82;
font-size: 42pt;
font-style: normal;
font-family: 'sans-serif';
text-align: center;
;
}

h2 {color: #910f78;
font-size: 36pt;
font-style: normal;
font-family: 'sans-serif';
text-align: center;
;}

h3 {color: #910f68;
font-size: 30pt;
font-style: normal;
font-family: 'sans-serif';
text-align: center;
;}

h4 {color: #910f68;
font-size: 30pt;
font-style: normal;
font-family: 'sans-serif';
text-align: center;
;}



.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img {
border: 5px solid #8f0a5c;
margin: 50px;
}

body {background-color: #dce9fa;
  background-position: center;
    text-align: center;
}



p {color:  #b01a56;
font-size: 18pt;
font-style: normal;
font-family: 'Helvetica';
text-align: center;
padding: 50px;
line-height: 30px;
width: 1100px;
margin-right: auto;
margin-left: auto;
text-align: center;

}

a {color: orange;}

a:hover {color: hotpink;}

section {text-align: center;
}
main {display: grid;
grid-template-columns: 300
text-align:center;
}

address {color: #b01a56;
}
