h1 {
    font-family: 'Times New Roman';
    color: white;
    text-shadow: 1px 1px 2px black;
    text-indent: 2%;
}

h2 {
    font-family: 'Courier';
    color: #EDE8DA;
    text-shadow: 2px 2px 2px black;
    font-size: 30pt;
    background-color: magenta;
    margin: auto;
    width: 800px;
    border: 2px solid black;
    text-indent: 15pt;
}

.special {
    font size: 30pt
    text-shadow: 1px 1px 2px black;
}


body {
    background-color: #18acf0;
    background-image: url(images/background.jpg);
    background-size: 150%;
    background-repeat: no-repeat;
    position: relative;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    border: 2px solid black;
}

.subimg {
    display: block;
    margin: 15px;
    border: none;
    width: 100px;
    height: 100px;
}

p {
    color: white;
    text-shadow: 1px 1px 2px black;
    font-size: 14pt;
}


button {
    font-family: 'Courier', cursive;
    font-weight: 400;
    font-size: 14pt;
    background-color: white;
    align-items: flex-start;
    margin: 5px;
}

button:hover {
    background-color: darkcyan;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}


div {
    width: 770px;
    margin: auto;
    border: 2px solid black;
    padding: 15px;
    background-color: magenta;
}
