body {
	background-image: url(greencitybackground.png);
	background-size: cover;
	background-repeat: round;
	margin-bottom: 50px;
}

h1 {
	font-family: 'Overlock';
	font-size: 40pt;
	color: whitesmoke;
	text-align: center;
	border: 5px solid white;
	padding: 30px;
	margin-left: 100px;
	margin-right: 100px;

}

img {
	display: block;
	margin: auto;

}

figcaption {
	font-size: 16pt;
	font-family: 'Marcellus';
	color: whitesmoke;
	text-indent: 30px;
	width: 80%;
	margin-left: 120px;

}

button {
	width: 200px;
	padding: 25px;
	background-color: #4c6e54;
	border: none;
	border-radius: 12px;
	margin-bottom: 50px;

}

a {
	color: darkkhaki;
	font-size: 20px;
	text-decoration: none;
}

.buttonleft {
	float: left;
	margin-top: 30px;
	margin-left: 20%;
	;
}

.buttonright {
	float: right;
	margin-top: 30px;
	margin-right: 20%
}

button:hover {
	background-color: whitesmoke;
}
