body {
	background-image: url(page2background.png);
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	font-family: 'Overlock';
	font-size: 40pt;
	color: whitesmoke;
	text-align: center;
	border: 5px solid whitesmoke;
	padding: 10px;
	margin: 30px 200px 30px 200px;

}

img {
	display: block;
	margin: auto;
}

figcaption {
	font-size: 14pt;
	font-family: 'Marcellus';
	color: whitesmoke;
	text-indent: 30px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

button {
	width: 200px;
	padding: 25px;
	background-color: #4c6e54;
	border: none;
	border-radius: 12px;

}

a {
	color: darkkhaki;
	font-size: 20px;
	text-decoration: none;

}

.buttonleft {
	float: left;
	margin: 15px 20% 25px 20%;
}


.buttonright {
	float: right;
	margin-right: 20%;
	margin-top: 15px;
}

button:hover {
	background-color: whitesmoke;
}
