 {
    text-align: center;


}

body {
    width: 90%;
    margin: 0 auto;
    background-color: #D7D7D7;
    background-size: cover;
    background: url(../images/parchment_detail.jpg) no-repeat center center fixed;
}

    
li {
    display: inline;
    padding: 0.5em;
}



#content {
    overflow: auto;
    height: 50em;
    background-color: transparent;
    width: 90%;
    background: url(../images/parchment_detail.jpg) no-repeat center center fixed;
    background-color: transparent;

}
            
#nav, #feature, #footer {
    margin: 1%;
}
            
.column1 {
    width: 80%;
    float: center;
    background: url(../images/parchment_detail.jpg)  no-repeat center center fixed;
    background-color: transparent;
}

.column1 {
    margin-right: 0%;
}           
            
#nav, #footer {
    background-color: #efefef;
    padding: 0.5em 0;
}
            
#feature, .article {
    height: 3em;
    margin-bottom: 0.5em;
    background-color: #efefef;
}
/* Type STYLES */
.Kristi {
    color:#FFFECF;
    font-size: 150px;
    font-family: 'Kristi', cursive;
}

.Cinzel {
    color: #FFFECF;
    font-size: 200px;
    font-family: 'Cinzel', serif;
}




/* ANIMATION 1 STYLES */

#animation1 {
    width: 700px;
    position: relative;
    -webkit-animation-name: exampleOne; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-name: exampleOne;
    animation-duration: 5s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-direction: normal;
    animation-fill-mode: forwards;
    z-index: initial;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleOne {
    0% {left:0px; top:0px; opacity: 0;}
    50%  {left:200px; top:0px; opacity: 1;}
    100% {left:200px; top:0px; opacity:0;}
}

/* Standard syntax */
@keyframes exampleOne {
    0%   {left:0px; top:20px; opacity: 0;}
    50%  {left:200px; top:20px; opacity: 1;}
    100% {left:200px; top:20px; opacity:0;}

}



/* ANIMATION 2 STYLES */

#animation2 {
    width: 700px;
    position: relative;
    -webkit-animation-name: exampleTwo; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: exampleTwo;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-play-state: running;
    animation-direction: normal;
    animation-fill-mode: forwards;
    z-index: initial;
    animation-delay: 1s;
    opacity: 0;
    margin-top: -50px
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleTwo {
    0% {left: 200px; top:-200px; opacity: 0;}
    30% {left: 200px; top:0px;opacity: 0;}
    50%  {left:200px; top:20px; opacity: 1;}
    100% {left:200px; top:20px; opacity:0;}
}

/* Standard syntax */
@keyframes exampleTwo {
    0% {left: 200px; top:-200px; opacity: 0;}
    30% {left: 200px; top:0px;opacity: 0;}
    50%  {left:200px; top:20px; opacity: 1;}
    100% {left:200px; top:20px; opacity:0;}
}


/* ANIMATION 3 STYLES */

#animation3 {
    width: 700px;
    position: relative;
    -webkit-animation-name: exampleThree; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: exampleThree;
    animation-duration: 4s;
    animation-iteration-count: 1;
    animation-delay: 4s;
    opacity: 0;
    z-index: initial;
    margin-top: -390px

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes exampleThree {
    0%   {left:0px; top:20px; opacity: 0;}
    30% {opacity:0;}
    70%  {left:200px; top:20px; opacity: 1;}
    100% {left:200px; top:20px; opacity:0;}
}

/* Standard syntax */
@keyframes exampleThree {
    0%   {left:0px; top:20px; opacity: 0;}
    30% {opacity:0;}
    70%  {left:200px; top:20px; opacity: 1;}
    100% {left:200px; top:20px; opacity:0;}

}