body {
    background-image: url(full01.jpg);
    font-size: 14pt;
    line-height: 17pt;
    list-style-type: 'Times New Roman'
        padding:9px;
    background-color: #2E294E;

}

.container {
    background-image: url("redem.jpg");

    background-color: #ffc4c4;
    width: 640px;
    height: 780px;
    padding: 52px;
    margin: auto;
    border: 10px;
    border-style: solid;
    border-color: #2E294E;
}

footer {
    font-size: 10pt;
}

.wrapper {
    text-align: center;
}

.firstbutton {
    font-size: 50px;
    position: absolute;
    top: 35%;
    left: 46.6%;
    border-radius: 12px;

}

.firstbutton:hover {
    background-color: #2E294E;
    color: #FFBE6B;

}


