/* === background === */


#splash {
    background-image: url(Sarah-Marino.jpg);
    background-size: cover;

}



main {
    background-color: white;
    height: 800px;
 
}


footer {
    background-color: black;


}


/*=== Typography ===*/
h1 {

    font-size: 20px;
    text-align: left;
    padding: 10px 0px 10px 0px;
    margin-left: 20px;
    font-family: 'Avenir';
}

p {
    font-size: 15px;
    margin-left: 20px;
    line-height: 1.6;
    font-family: 'Raleway';
}



/*=== Style ===*/


input {
    width: 100px;
    padding: 10px 80px 10px 10px;
    border-radius: 5px;
    margin-top: 40px;
    margin-bottom: 25px;
    margin-left: 20px;
    font-family: 'Raleway';


}

ul {
    display: flex;
    list-style-type: none;
}

li {
    float: left;
}

li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 40px 30px 20px 30px;
    font-family: 'Raleway';
}


a {

    text-decoration: none;
    color: white;
 

}

a:hover {
    text-decoration: underline;
}

/*=== box model ===*/


body {
    overflow-x: hidden;
}

img {
    margin-left: 0px;
    margin-top: 20px;

 
    
}

#splash {
    height: 500px;

}

nav {
    padding: 5px 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50px;


}

nav1 {
    padding: 0px 0px 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
}

#container: {

    width: 800px;

}

/* === grids === */

footer {
    display: grid;
    grid-template-columns: 33% 33% 33%;

}



#splash {
    grid-column-start: 1;
    grid-column-end: 3;
}
