html {
    background-color: #F6FBBF;
    margin: auto
}

.paragraph {
    background-color: #CCFBBF;
    width: 500px;
    height: 500px;
    padding: 25px;
    font-family: "Arial";
    font-size: 14px;
    margin: auto;
    text-align: center;
}

a{
    font-family: "Arial";
    font-size: 30pt;
    color: #59A755;
    background-color: #F4C4DE;
    padding: 10px;
    
}

h1 {
    text-align: center;
    font-family: "Arial";
    font-size: 72pt;
    color: #F24132;
}

img{
    width: 500px;
    align-content: center;
}