/* Typography */
h1 {
    font-family: 'Myriad', sans-serif;
    font-size: 75pt;
    color: #FFFFFF;
    padding-bottom: 0;
    padding-right: 15pt;


}


h5 {
    font-family: 'Myriad';
    font-size: 20pt;
    color: #943a35;
    padding-right: 425pt;
    padding-left: 0pt;
    padding-top: 0pt;
    padding-bottom: 5pt;
}


h6 {
    font-family: 'Myriad', sans-serif;
    font-size: 30pt;
    color: #6B6C6F;
    height: 0px;
    text-decoration: none;
    letter-spacing: 5pt;
    padding-left: 200px;
}


p {
    font-family: 'Myriad', sans-serif;
    font-size: 12pt;
    width: 500pt;
    padding-left: 145px;
    padding-bottom: 75pt;
    color: #6B6C6F;
    text-align: center;
    height: 10px;




}


h2 {
    font-family: 'Myriad', sans-serif;
    font-size: 16pt;
    line-height: 18px;
    height: 15px;
    color: #6B6C6F;
    letter-spacing: 2pt;
    padding-top: 5pt;

}


h3 {
    font-family: 'Myriad', sans-serif;
    text-decoration: none;
    padding-top: 10pt;
    font-size: 10pt;
    width: 550pt;
    padding-bottom: 20pt;
}

h8 {
    font-family: 'Myriad', sans-serif;
    text-decoration: none;
    padding-top: 5pt;
    font-size: 11pt;
    letter-spacing: 1pt;

}

ul {
    padding-left: 325pt;
    font-family: 'Myriad', sans-serif;
    font-size: 10pt;
    padding-bottom: 14pt;

}

/* Background */

#splash {
    grid-column-start: 1;
    grid-column-end: 3;
    background-image: url(BannerImage_01.png);
    height: 460px;
    display: flex;
    align-items: center;
    justify-content: center;


}

body {
    align-content: center;


    overflow: scroll;

}

#container {}


}


/* Layout */

header {
    height: 500px;
}

#container {
    margin: auto;
    align-content: center;
    width: 1000px;
}

.left {
    float: left;
    padding: 0px 35px 20px 30px;
    clear: both;
}

.btn {
    border: none;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    background-color: #943a35;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;



}

.btn:hover {
    background: #eee;
}

.success {
    color: green;
}

.info {
    color: dodgerblue;
}

.warning {
    color: orange;
}

.danger {
    color: red;
}

.default {
    color: black;
}


.topnav {
    font-size: 15pt;
    padding-left: 610px;
    padding-top: 60px;
    padding-bottom: 60px;
    float: center;
    word-spacing: 15px;
    text-decoration: none;
    position: static;
}

.topnav a:hover {
    color: lightgray;
}

a {
    text-decoration: none;
    color: #6B6C6F;
    font-family: Myriad, sans-serif;
}
