header {
    align-self: auto; 
    font-family: 'Almendra', serif; 
    font-size: 22px; 
}

.container {
    border-style: outset; 
    border-color: black; 
    border-width: 2px; 
    /*background-color: beige; */
    background-color: rgba(245,245,220,0.6);
    /*opacity: 0.6; */
    padding: 25px; 
    padding-left: 50px; 
    padding-right: 50px; 
    width: 800px;  
    margin: auto; 
    margin-top: 50px; 
    margin-bottom: 50px;
}

.Rect {
    padding: 10px;
    border-radius: 30px;
    opacity: 0.9;
}

.RoundRect {
    padding: 10px;
    border-radius: 90px;
    opacity: 0.9;
}

.Circle {
    padding: 10px;
    border-radius: 1000px;
    opacity: 0.9;
}

.floatRight{
    float: right; 
    margin: 10px;
    opacity: 0.9;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.floatLeft{
    float: left; 
    padding: 20px;
    opacity: 0.9;
}

.alignLeft {
    align-self: left;
}

.alignRight {
    align-self: right;
}

.alignCenter {
    align-items: center;
}


body {font-family: 'Almendra', 
    serif; color: #545143; background-image: url(Images/parchmentbackground.jpg); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1 {font-size: 30px}

h2 {font-size: 24px; font-weight: 700;}

h3 {font-size: 22px; font-weight: 600; line-height: 0.6px;}
p {font-size: 24px}


.button {
    font-family: 'Almendra', serif;
    font-size: 20px; font-weight: bold; color: #423e2c;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    background-color: #c7ac83; /* brown */
    opacity: 0.8;
    transition: 0.3s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    /*-webkit-transition-duration: 0.4s; /* This is for Safari for some reason I think? Just go with it.
    transition-duration: 0.4s;*/
}

.button:hover {opacity: 1;}

.button:active {
  background-color: #a68f6c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button1 {
    border-radius: 12px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button2 {
    font-family: 'Almendra', serif;
    font-size: 20px; font-weight: bold; color: #faf6db;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    background-color: #8c6e35; /* brown */
    opacity: 0.8;
    transition: 0.3s;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    padding: 15px 32px;
    display: inline-block;
    cursor: pointer;
    /*-webkit-transition-duration: 0.4s; /* This is for Safari for some reason I think? Just go with it.
    transition-duration: 0.4s;*/
}

.button2:hover {opacity: 1;}

.button2:active {
  background-color: #7a6f38
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button3 {
    border-radius: 12px; 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
    
footer { 
    font-size: 16px; 
    text-align: center; 
    font-style: oblique;
}