/* ==TYPOGRAPHY ==*/
body{
    font-family: 'Trebuchet Ms', sans-serif;
}

h1{
    color: #fec748;
    font-size: 45pt;
    text-align: center;
    text-transform: uppercase;
    margin-top: -8px;
    font-weight: bolder;
}

p{
    font-size: 12pt;
    color: beige; 
    position: -30px;
    text-align: left;
    line-height: 130%;
}

.button{
    font-size: 18pt;
    font-weight: 550;
    border-radius: 12px;
    color: beige;
    background-color: #fec748;
    margin-top: 50px;
}

a{
    text-align: center;
}

.button:hover{
    background-color: #f46497;
    color: white;
}






/* ==BACKGROUNDS ==*/
body {
    background-color: #ffc143;
}
.container {
    background-color: #9bc69f;
    padding: 50px;
    margin:auto;
    border: solid; border-color: #81c035; border-width: 8px;
    border-radius: 5px;
    text-align:center;
    margin: auto;
    width: 50%;
}

img{
    max-width: 60%;
}

