body
{
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

body,
html {
  height: 100%;
  color: #777;
  line-height: 1.8;
  padding: 0;
  margin: 0;
}

header {
  
  color: #fff;
  
}

header a {
  text-decoration: none;
  color: #fff;
}
nav {
  display: flex;
  align-content: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #000000;
}
nav a {
  margin-right: 1rem;
}

nav a:first-child {
  margin-left: 1rem;
}

#splash {
  background-image: url(anime.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
}

#twitch-embed iframe {
  min-width: 100%;
  min-height: 75vh;
}

.centercolumn {
  max-width: 45rem;
  margin: auto;
}
#logo {
  
  animation: fadein 0.5s;
  background-color: #000;
  padding: 0.5rem;
}
#logo img {
filter:  invert(100%)

}

#watch {
  margin: 3rem 0;
}

#tvshows {
  width: 85%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 2rem;

}

footer {
  background-color: #000;
  height: 30vh;
  min-height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  color: #fff;
  font-size: 3rem;
  margin-right: 1rem;
  position: relative;
  transition: all .25s;
}

.fa:hover {
  color:#9150fb;
  transform: scale(1.5);
}


#tvschedule {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, auto);
  color: black;
}
.show {
  margin-bottom: 1rem;
}
.time {
  font-weight: bold;
}
.vintage {
  background-color: lightgray;
}

.anime {
  background-color: orange;
}

#tvschedule {
  background-color:lightgray;
  padding: .25rem;
}

#watchText {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.day {
  padding: .25rem;
}
.day:nth-child(odd){
  background-color: black;
  
}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: #9150fb
}

.section h2 {
  text-align: center;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("anime.png");
  min-height: 100%;
  
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("bettyboop.png");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("superman.jpg");
  min-height: 400px;
}

.tvshow-image {
  height: 15rem;
  background-repeat: no-repeat;
  background-size: cover;
}

.popeye {
  background-image: url(popeye.jpg);
}

.superman {
  background-image: url(superman.jpg);
}
.klabooey {
  background-image: url(bettyboop.png);
}
.scibots {
  background-image: url(sci-bots.jpeg);
}

.spaceangel {
  background-image: url(spaceangel.jpeg);
}

#shows {
  background-color: #f7f7f7;
}

.w3-wide {
  letter-spacing: 10px;
}

.w3-hover-opacity {
  cursor: pointer;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
