html {
    
    
    background-color: #d69d02;
    
    
    
}

body {
   
 width: 1300px;
    
    padding: 30px;
    
    margin-top: 30px;
    
    margin-left: auto;
    
    margin-right: auto;

    border: 5px solid #570c03;
    
    text-align: center;
    
    font-family: cabin, sans-serif;
    
    font-size: 15pt;
    
    background-color: #014b52;     
    }

h2{
    color: #d19200;
    
    font-family: cabin;
}



.lol{
    color: #d19200;
    
    width: 750px;
}



a{
    font-size: 25pt;
    
    color: #660000;
    
    font-family: montserrat;
}

a:hover {
    color: #b56702;
}




p{
    font-size: 15pt;
    
    line-height: 25pt;
    
    color: snow;
    
    font-family: montserrat;
    
    margin-left: auto;
    
    margin-right: auto;
    
  
}


