body{
    background-image: url(../../background.jpg)}
.container{
    background-color: #7CB5C9;
    width: 800px;
    margin: auto;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    border-style: solid;
    border-radius: 10px}
.center{
    margin-left: 225px}
.Space{
    display: inline-block;
    letter-spacing: 100px;
    padding-left: 34px}
h1{
    font-size: 30px;
    font-family: "copperplate", fantasy;
    letter-spacing: 20px;
    text-align: center;
    color: white;
    text-transform: uppercase}
p{
    font-size: 20px;
    font-family: Georgia;
    text-align: justify}
.button{
    background-color: #668491;
    border: 3px inset white;
    padding: 7px 15px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 4px}
a{
    text-decoration: none;
    color: white;
    font-family: serif;
    letter-spacing: 2px;
    font-weight: bolder;
    font-size: 17px
}