body{ background-color: #ffccff;
  width: 700px;
padding: 10px; margin-left: auto; margin-right: auto;
}
h1{ color: #00004d;
  font-size: 19pt;
  font-family: 'Courier';
  font-style: 'Italic';
  text-align:'Center';

}
h2{color: #00004d;
  font-size: 10pt;
  font-family: 'Courier';
  font-style: 'Italic';
  text-align:'Center';
}

h3{
  color: #00004d;
  font-size: 10pt;
  font-family: 'Courier';
  font-style: 'Italic';
  bottom: 0;
  position: fixed;
  left: 0; bottom: 0;
  width: 100%;
}


a { text-decoration: underline;
  color: #00004d;
  font-size: 14pt;
  font-family: 'Courier';
  font-style: 'Italic'
  text-align:'Center';
  }

p {color: #00004d;
  font-size: 10pt;
  font-family: 'Courier';
  font-style: 'Italic';
  text-align:'Center';
}
