body {
    background-size: 150%;
    background-color: #693a11;
}

h1 {
    font-family: 'Luminari', fantasy;
    color: orange;
    font-size: 20pt;
    text-shadow: 4px 4px black;
}

img {
    display: block; 
    margin: auto;
    width: 800px;
    border: 2px solid black;
}

h2 {
    font-family: 'Luminari', fantasy;
    color: #b3acab;
    font-size: 25pt;
    text-shadow: 4px 4px black;
    width: 780px;
    margin: auto;
    border: 2px solid black;
    padding: 10px;
    background-color: #730e07;
}

div {
    width: 770px;
    margin: auto; 
    border: 2px solid black;
    padding: 15px;
    background-color: #730e07;
}

p {
    font-family: 'Luminari', fantasy;
    color: #b3acab;
    font-size: 16pt;
}

button {
    font-family: 'Times New Roman', cursive;
    font-size: 14pt;
    border: 2px solid black;
    margin: auto;
    background-color: #6daab0;
}

button:hover {
    background-color: #D6A2E6;
}