@font-face {
    font-family: 'AbadiExtraLight';
    src: url(AbadiMTStd-ExtraLight.otf);
} /* Embeds OTF Font file */

.Logo {
    padding-top: 20px;
} /* Image properties for Logo image */

body {
    background-color: #e6daac;
    padding-top: 80px;
    margin: auto;
    z-index: 1; /*DO NOT REMOVE THIS MF IS VERY MUCH FUNCTIONAL THANK YOU STACK OVERFLOW */
} /* basic format for entire page */

.navbar { 
    overflow: hidden;
    display:block;
    margin: auto;
    background-color: #e6daac;
    color: #FFFF;
    position: fixed;
    top: 0; /* Positioning of Navbar */
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;  
    z-index: 2; /*DO NOT REMOVE THIS MF IS VERy FUNCTIONAL */
} /* Making the Navbar */

.navbar a {
    float: left;
    padding: 20px 20px;
    font-size: 25px;
    letter-spacing: 3px;
    text-align: center;
    color: #FFFF;
    text-decoration: none;
} /* Link text and spacing */

.navbar a:hover {
    color: darkred;
} /* Link text color change on hover */

.homeHeader {
    font-size: 30px;
    text-align: center;
    align-self: center;
    width: auto;
    padding-top: 100px;
    padding-bottom: 200px;
    background-image: url(Images/IndoorView2.png);
    background-position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    
} /* Header banner for home page */

.menuHeader {
    font-size: 40px;
    text-align: center;
    align-self: center;
    width: auto;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    background-image: url(Images/StrawberryCrepeWide2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
} /* Header banner for menu page */


/** TEXT FORMAT CLASSES AND STUFF **/
.h1Abadi { 
    font-family: 'AbadiExtraLight', sans-serif;
    color: #FFFF;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 20px;
    margin-bottom: -37px;
    background-color: rgba(0,0,0,0.6);;
    
} /* H1 Abadi Format +bG: For Home */

.h1Script {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    width:auto;
    color: darkred;
    text-align: center;
    font-weight: 100;
    padding: 0px;
} /* H1 Script Format */

.h2Abadi {
    font-family: 'AbadiExtraLight', sans-serif;
    color: #FFFF;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 20px;
    background-color: rgba(0,0,0,0.6);
} /* H2 Abadi Format bG: For Home */

.h2Abadi2 {
    font-family: 'AbadiExtraLight', sans-serif;
    color: darkred;
    text-align: center;
    font-weight: 100;
    padding: 20px;
    margin-top: -50px;
} /* H2 Abadi Format bG: For Home */

.h3ScriptPad {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #361402;
    padding: 20px;
} /* H3 Script Format, With Padding */

.h3ScriptNP {
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    color: #361402;
} /* H3 Script Format, No Padding */

.pDesc {
    font-size: 22pt;
    color: #4a1a01;
    letter-spacing: 1px;
    padding: 20px;
    /* margin: 60px; */
} /* paragraph 22pt paragraph text */

.pContact {
    font-size: 20pt;
    color: #4a1a01;
    letter-spacing: 1px;   
} /* paragraph 20pt paragraph text */

.pSlBold {
    font-size: 20pt;
    color: #4a1a01;
    letter-spacing: 1px;
    font-weight: 900;
} /* paragraph 20pt bold text */

.pCustomPt {
    font-size: 10pt;
    color: #4a1a01;
    letter-spacing: 1px;
} /* paragraph 10pt text */

.cartLink {
    font-size: 10pt;
    color: darkred;
    text-decoration: none;
} /* "Add to Cart" text format */

.cartLink:hover {
    text-decoration: underline;
}

b {
    font-size: 22pt;
    color: darkred;
    letter-spacing: 2px;
} /* B tag: Darkred bold text w/2px letter spacing */

/** END OF GROUP OF WHICH LE TEXTS ARE FORMATTED **/



/** IMPORTANT BITS FOR ORDER IMAGE BUTTON **/

.imgContain {
    position: relative;
    width: auto;
} /* Image container */

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: 1s ease;
    backface-visibility: hidden;
} /* bits for image opacity transition */

.button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #e6daac;
    border: none;
    border-radius: 60px;
    color: white;
    padding: 50px; 350px;
    text-align: center;
    font-size: 55px;
    letter-spacing: 1px;
    opacity: 0;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
} /* stuff for the button */

.button:hover {
    opacity: 1;
} /* more stuff for button **/

 /* .middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
} */ /* Leftover thing I don't need now because I have my button? Keep in case something goes weird? */

.imgContain:hover .image {
    opacity: 0.7;
} /* makes image change opacity when hovered over */

.imgContain:hover .button {
    opacity: 1;
} /* makes button appear when hovering over image, and not just button */

.imgContain:hover .middle {
    opacity: 0.95;
} /* NEVERMIND DO NOT LEAVE THIS OUT IT MAKES THE TRANSITION TO BUTTON PRETTIER */

.text {
    background-color: #e6daac;
    color: white;
    font-size: 55px;
    padding: 50px; 236px;
    border-radius: 60px;
} /* Determines text for button */

/** END OF BITS FOR ORDER IMAGE BUTTON **/


main {
    /* margin-top: 10px; /* Add a top margin to avoid content overlay */
    width: auto;
    width: auto;
} /* Margins for Main Text and stuff */

div { 
    font-family: 'AbadiExtraLight', sans-serif;
} /* Anything in a div auto has @fontFace embedded font, so not as much need to define this particular font family all the time. Big brain move. */

.containHome {
    background-color: #e0dfcc;
    width: auto; 
    margin: auto;
    padding: 5px;
} /* fiv class for Home Text */

.containCont {
    background-color: #e0dfcc;
    width: auto; 
    margin: auto;
    padding: 100px;
} /* div class for text that connects w/end to create equal-padded box effect. Or something like that. */

.containMenu {
    background-color: #e0dfcc;
    width: auto;
    margin: auto;
    padding: 20px;
}

.contact {
    width: auto;
    margin: auto;
    padding: 20px;
} /* I made this thing and forgot what it does five minutes later. Joy. */

* {
    box-sizing: border-box;
} /* Literally the only thing keeping my columns together *cries* /// 12/14 UPDATE: I DON'T KNOW IF THIS IS STILL NEEDED BUT I AM AFRAID TO DELETE IT, SO HERE IT STAYS. A RANDOM PARSLEY LEAF IN MY CODE SPAGHETTI THAT WE'RE PRETTY SURE ENDED UP ON OUR PLATE FROM ANOTHER DISH. */


/** IMPORTANT BITS FOR ROW/COLUM GRIDS IN MENU PAGE **/

.grid-containerSV {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 325px 325px;
  grid-gap: 10px;
  padding: 20px;
  text-align: center;
  align-content: center;
  padding: 20px 0px;
  /* padding-right: 30px; */
} /* Important Bits for grid: Savory Edition */

.grid-containerD {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 325px;
  grid-gap: 10px;
  padding: 20px;
  text-align: center;
  align-content: center;
  padding: 20px 0px;
  /* padding-right: 30px; */
} /* Important Bits for grid: Dessert Edition */


/** END OF IMPORTANT BITS FOR MAKING THE ROWS **/


/* Tiny Misc. Things to Adjust Image Presentation with */

.Rect {
    padding: 10px;
    border-radius: 30px;
    opacity: 0.9;
} /*Image crops for standard images */

.floatRight {
    float: right;
    max-width: 50%; /* NEVER MESS WITH THIS, UNLESS YOU WANT TO TRIGGER AN HOUR-LONG HEADACHE AND DISSOCIATION ON COMMAND */
    height: auto;
    padding: 15px;
} /*Image floats on right of page */

.floatLeft{
    float: left;
} /*Image floats on left of page */

.dontBreakMyHardWorkPls {
    border-radius: 30px;
    max-width: 70%;
    height: auto;
} /*Activate this trap card when images are threatening to mess up your webpage for the 63rd time. */

.stayinALIIIIVE {
    border-radius: 10000px;
    position: center;
    max-width: 50%;
    height: auto;
    padding: 50px;
    transform: translateY(170px);
} /* The Song I sing to myself as I try to make somthing look good in max-window format. */

@media only screen and (max-width: 1500px) {
    .stayinALIIIIVE {
    border-radius: 10000px;
    position: center;
    max-width: 50%;
    height: auto;
    padding: 50px;
    transform: translateY(0px);    
    }
} /*How to make the circle pic on homepage look pretty in both max and half-window web format, when you are short on time and dumb. Hopefully. */

footer { 
    padding-top: 30px;
    padding-bottom: 20px;
    font-family: 'AbadiExtraLight', sans-serif;
    font-size: 15px; 
    color: #361402;
    text-align: center;
    font-style: italic;
} /* Footer @ bottom of page */

/* Colors I like and Might Wanna Use:
   - #e0dfcc //I did end up using this color. Knew saving this would keep in handy.
*/