html {
    background-image: url("background.png");
    
}

body{
    width:70%;
    padding:50px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    border: 4px solid #000;
    background-color:darkgray;
}



img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: medium solid #666;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);

}


h1 {
    font-family: "Arial Black", sans-serif;
    text-align: center;
}


p {
    text-align: center;
    font-family: "Arial";
}


.banner {
    max-width: 100%;
    border: medium solid #666;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 3);
}


.content {
    max-width: 100%;
}


.paragraph{
    text-align: justify;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding-top: 20px;
   
    
}