body {

    background-color: bisque;
    width: 1000px;
    padding: 25px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;

}

h1{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 45px;
    text-align: center;}

h2{
    font-family: 'Lato', sans-serif;
    text-align: center;}

p {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    
}

div {

    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    background-color: bisque;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: 175px;
    border: 5px double #31730a;
    box-shadow: 2px 2px;
    padding: 20px;
}

img {

    border: medium double #0a0a0a;
    border-width: thick;
    box-shadow: 2px 2px 2px 2px;

}


IMG.displayed {
    display:block;
    margin-left: -18px;
    margin-right: 0px; 
}
    

a:link,
a:visited {
    background-color: #fccd17; 
    color: white;
    font-family: 'Vampiro One', cursive;
    font-size: 22.5px;
    text-shadow: 2px 2px 5px #31730a;
    align-items: center;
    border: medium double #0a0a0a;
    border-width: thick;
    border-color: black;
    padding: 10px 20px;
    text-align: auto;
    text-decoration:none;
    display: inline-flex;
    box-shadow: black .5px .5px .5px .5px;
}

a:hover,
a:active {
    background-color: #31730a;
}

embed {
    
    border: medium double #0a0a0a;
    border-width: thick;
    box-shadow: 2px 2px 2px 2px;


    
}

