body {
	margin: 0; 
	padding: 0; 
	background: url(../images/zBackground.jpg);
	background-color: #FFFFFF;
	background-size: cover;
	background-repeat: no-repeat;
}

p {
	font-family: textFont; 
	font-weight: 550;
	font-size: 2vw;
	margin: 2%;
}

h1 {
	text-align: center;
	font-family: frontFont;
	margin: 2%;
	font-size: 7vw;
}

img {
	border-radius: 75%;
	border: 2px solid black;
	height: auto;
	width: 100%;
}

ul {
	list-style: none;
	padding: 2%;
}

@font-face {
	font-family: buttonFont;
	src: url(../fonts/ChampagneAndLimousines.ttf);
}

@font-face {
	font-family: frontFont;
	src: url(../fonts/PerfectlyTogether.otf);
}

@font-face {
	font-family: textFont;
	src: url(../fonts/Euphorigenic.ttf);
}

#container {
	position: relative;
	margin: auto;
    width: 80%;
    padding: 50px;
}

#center {
	column-count: 2;
	column-gap: 4%;
	padding: 2%;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	background: rgba(166, 220, 227, 0.75);
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}

#winEnd {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 30%;
	padding-right: 30%;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	background: rgba(166, 220, 227, 0.75);
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 1px solid black;
	border-bottom: 2px solid black;
}

#top {
	padding: 2%;
	box-sizing: border-box;
	height: auto;
	width: 100%;
	background-color: #D1D3D4;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-top: 2px solid black;
	border-bottom: 1px solid black;
	text-align: center;
}

#credit {
	position:absolute;
	bottom: 5%;
	left: 5%;
	font-size: 1vw;
}

.buttonl {
	font-family: buttonFont; 
	font-weight: bold;
	font-size: 1.5vw;
	border: 2px solid black;
 	border-radius: 4px;
 	background-color: #D1D3D4;
 	color: #000000;
 	text-align: center;
 	padding: 7%;
 	width: 100%;
 	transition: all 0.5s;
 	cursor: pointer;
 	margin: 5px;
}

.buttonl span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonl span:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: 105%;
  transition: 0.5s;
}

.buttonl:hover span {
  padding-left: 10%;
}

.buttonl:hover span:before {
  opacity: 1;
  left: 0;
}

.buttonr {
	font-family: buttonFont; 
	font-weight: bold;
	font-size: 1.5vw;
	border: 2px solid black;
 	border-radius: 4px;
 	background-color: #D1D3D4;
 	color: #000000;
 	text-align: center;
 	padding: 7%;
 	width: 100%;
 	transition: all 0.5s;
 	cursor: pointer;
 	margin: 5px;
}

.buttonr span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonr span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 105%;
  transition: 0.5s;
}

.buttonr:hover span {
  padding-right: 10%;
}

.buttonr:hover span:after {
  opacity: 1;
  right: 0;
}