body{
    background-image: url(images/Background.jpg);
}

.container{
    width: 900px;
    margin: auto;
    background-color: black;
    padding: 25px;
}

h1{
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: "go around the books";
}

p{
    color: white;
}

button{
    color: red;
    font-size: 20px;
    padding: 5px 10px;
    background-color: black;
    border: solid 3px white;
    border-radius: 8px;
    text-align: center;
    cursor: crosshair;
    font-family: "go around the books";
}

button:hover{
    background-color: red;
    color: black;
    border: solid 3px black;
}

footer{
    text-align: center;
    color: white;
    font-size: 12px;
    margin-top: 25px;
}

.basement{
    margin-left: 150px;
}

.ghost{
    margin-left: 50px;
}

.attic{
    margin-left: 200px;
}