h1 {
    font-family: 'Arial';
    font-size: 36pt;
    font-variant: small-caps;
}

p{
    font-family: 'Times New Roman', serif, Times;
    font-size: 14pt;
    line-height: 18pt;
}

body{
    background-color: #0e0d0d;
}
.img_orb{
    max-width: 100%;
}

.container{
    background-color: #f5cdc7;
    width: 800px;
    border: 20px solid #350b0b;
    padding: 80px;
    margin: auto;
}

.btn_success{
    font-family: 'Arial';
    color: #fc0909;
    font-size: 15pt;
    margin: 0 auto;
    background: #000000; 
    border: 2px solid #e7b100;
    border-radius: 8px;
    padding: 8px;
    text-decoration: none;
}

.buttoncenter{
    text-align: center;
}

footer{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    line-height: 17pt;
}