body{
    background-image: url(images/BG.jpg);
}

.container{
    background-color: #1D260F;
    width: 600px;
    height:650px;
    margin: auto;
}

h1{
    font-family: cursive;
    font-size: 300%;
    padding-bottom: 25px;
    padding-top: 20px;
    color: white;
    text-align: center;
    margin: auto;
   
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p{
    font-family: sans-serif;
    color: white;
    width: 500px;
    text-align: center;
    padding: 15px;
    margin: auto;
    padding-bottom: 25px;
}


.princ{
    color: darkgreen;
    background-color: white;
    padding: 14px 14px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:7%;
    list-style: none;
}


a:hover {
  color: #898C1C;
}

.option1{
    color: darkgreen;
    background-color: white;
    padding: 14px 14px;
    margin-left:125px;
    width:7%;
    
}

.option2{
    color: darkgreen;
    background-color: white;
    padding: 14px 14px;
    margin-left:125px;
    width:7%;
}
