/*===classes & ids===*/

.alignright{
    justify-content: flex-end;
    
}

.floatleft{
    float: left;
}
.floatright{
    float: right;
}
.clear{
    clear: both;
}


#logo{
    padding-right: 0px;
    width: 75px;
}

.icons{
    padding-right: 7px;
    width: 15px;
}

.healthbanner{
    background-image:url(images/health/healthy-banner.png);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 95px;
    
}

.menubanner {background-image:url(menu-banner.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 95px;
margin-bottom: 35px;}

.gridoverride{
    grid-column-start: 1;
    grid-column-end: 3;
}


/*===all===*/
body{
    font-family:'Montserrat', sans-serif;
    font-size: 14pt;
    background-color: #F8F4F1; 
}

h1{
    font-size: 100pt;
    font-family: 'Satisfy', cursive;
    color:#ffffff;
}

h2{
    font-size: 22pt;
    margin-top: 0px;
    color: #96613A;
    text-align: center;
}

a{
    color: #623A1D;
}
a:hover{
    color: #96613A;
}

/*===header===*/

header{
    height: 95px;
    font-size: 15pt;
    background-color: rgb(98,58,29,0.97);
    color: #FFFFFF;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    
}

header strong{
    font-size: 16pt;
}
nav{
    display: grid;
    grid-template-columns: 7% 60% 32%;
    
}
nav div{
    display: flex;
    align-content: center;
    padding: 13px;
    
}

nav a{
    color:#ffffff;
    padding-left: 20px;
    line-height: 375%;
    text-decoration: none;

}

nav a:hover{
    color:#96613A;
}


/*===health health health health===*/

/*===health main===*/


#health-article{
    width:1000px;
    margin: auto;
    border: 2px solid #623A1D;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    color: #623A1D;
/*    text-indent: 25px;*/
    display: grid;
    grid-template-columns: 70% 30%;
    column-gap: 20px;
    background-color: #ffffff;
    
}


#health-article img{
    width: 175px;
    padding: 25px;
}
#health-article div p, #health-article div ul{
    text-align: left;
}
#health-article div{
    padding: 10px;
}

#health-article a:hover{
    text-decoration: underline;
}




/*=homepage homepage homepage homepage=*/

/*=homepage: after banner 4 icons=*/

.homebanner{
    background-image:url(images/homepage/banner-home.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    margin-top: 95px;
    text-align: center;
    justify-content: center;

    

}

#homeicon div, 
#leftside div, 
#events div, 
#fivestar div{
    background-color:#ffffff;
    margin: auto;
    border: 2px solid #623A1D;
    padding: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
    text-align: center;
    color: #623A1D;
}

#homemain *{
  box-sizing: border-box;
}

#homepage{
    width: 1000px;
    margin: auto;
}

        
#homeicon{
    padding-top: 20px;
    margin: auto;
    
}

#homeicon::after {
  content: "";
  clear: both;
  display: table;
}

.homeicon{
    width: 220px;
    height: 220px;
    padding: 30px;
    float:left;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

#iconspace{
    width: 40px;
    height: 1px;
    float:left;
    
}
     
.homeicon-right{
     width: 220px;
     height: 220px;
     padding: 30px;
    float:right;
    align-items: center;
    justify-content: center;
    overflow: hidden;}


/*=homepage: hours+about us+events=*/


.homepage-article{
    display: grid;
    grid-template-columns:50% 50%;
}

/*=hours+about us=*/

#leftside{
    width: 480px;
    float: left;
    overflow: hidden;
}


.hours{
    height:345px;
}

.abouteon{
    height:385px;
    line-height: 1.5;
}

.abouteon article:hover{
    color: #96613A;
}

/*=events=*/

#events{
    width:480px;
    height: 805px;   
    float:right;
    margin-left: 20px; 
    overflow:auto;
}
.event:hover{
    color: #96613A;
}
.event{
    width: 420px;
    height: 160px;
    overflow: hidden;
    padding:6px;
    text-align: left;
    
}

.event img{
    padding-right:20px;
}

.event p{
    font-size: 12pt;
}

/*=homepage:five star=*/

#fivestar{
    display: grid;
    grid-column: 1/5;
}

#fivestar div{
    width: 100%;
}


/*====menumenumenu====*/

.menutable p {font-size: 10pt;
padding-left: 5px; color: #623A1D;}

.menutable h3 {font-size: 12pt;
padding-left: 5px; color:#96613A; }

.menutable a {color: #96613A;
text-decoration: none;}

.menutable a:hover {color: #623A1D;}

.menutable {
    width: 150px;
    border: 2px solid #623A1D;
    text-align: left;
    color: #96613A;
    background-color: #FFFFFF;
float: left;
margin-left: 100px;}

#menuarticle {width:800px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 25px;
    border: 2px solid #623A1D;
    color: #623A1D;
    background-color: #FFFFFF;
overflow: auto;}

/*=items/descriptions=*/

#espresso {display:grid;
grid-template-columns: 33% 33% 33%;}

.espresso img {width: 150px; 
height: 150px;
margin-left: 55px;}

.espresso p {font-size: 9pt;
text-align: center;}

#espressofrappe {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.frappe img {width: 150px; 
height: 150px;
margin-left: 55px;}

.frappe p {font-size: 9pt;
text-align: center;}

#hotdrinks {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.hot img {width: 150px; 
height: 150px;
margin-left: 55px;}

.hot p {font-size: 9pt;
text-align: center;}

#icedrinks {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.iced img {width: 150px; 
height: 150px;
margin-left: 55px;}

.iced p {font-size: 9pt;
text-align: center;}

#hottea {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.tea img {width: 150px; 
height: 150px;
margin-left: 55px;}

.tea p {font-size: 9pt;
text-align: center;}

#smoothies {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.smoothies img {width: 150px; 
height: 150px;
margin-left: 55px;}

.smoothies p {font-size: 9pt;
text-align: center;}

#sandwich {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.sandwich img {width: 150px; 
height: 150px;
margin-left: 55px;}

.sandwich p {font-size: 9pt;
text-align: center;}

#salad {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.salad img {width: 150px; 
height: 150px;
margin-left: 55px;}

.salad p {font-size: 9pt;
text-align: center;}

#wrap {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.wrap img {width: 150px; 
height: 150px;
margin-left: 55px;}

.wrap p {font-size: 9pt;
text-align: center;}

#cookie {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.cookie img {object-fit: cover; width: 150px; 
height: 150px;
margin-left: 55px;}

.cookie p {font-size: 9pt;
text-align: center;}

#cheesecake {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.cheesecake img {width: 150px; 
height: 150px;
margin-left: 55px;}

.cheesecake p {font-size: 9pt;
text-align: center;}

#croissant {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.croissant img {width: 150px; 
height: 150px;
margin-left: 55px;}

.croissant p {font-size: 9pt;
text-align: center;}

#danish {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.danish img {width: 150px; 
height: 150px;
margin-left: 55px;}

.danish p {font-size: 9pt;
text-align: center}

#scone {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.scone img {width: 150px; 
height: 150px;
margin-left: 55px;}

.scone p {font-size: 9pt;
text-align: center;}

#otis {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.otis img {width: 150px; 
height: 150px;
margin-left: 55px;}

.otis p {font-size: 9pt;
text-align: center;}

#bagel {display:grid;
grid-template-columns: 33% 33% 33%;
grid-column: 1/4;}

.bagel img {width: 150px; 
height: 150px;
margin-left: 55px;}

.bagel p {font-size: 9pt;
text-align: center;}

/*=button=*/

button {background-color: #623A1D;
font-family:'Montserrat', sans-serif;
font-size: 10pt;
color: #ffffff;
width: 150px;
display: block;
margin-bottom: 15px;
margin-top: 15px;
margin-left: 100px;}

#ubereats {margin-top: 25px;}

button:hover {background-color: #96613A;}

#columns {display: grid;
grid-template-columns: 20% 80%;}

h3 {font-family:'Montserrat', semibold;
    font-size: 14pt;
    color: #623A1D;}

#title {grid-column: 1/4;
margin-left: 55px;}

/*===footer footer footer===*/


footer{
    background-color: #623A1D;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: auto;
    overflow: auto;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    font-size: 12pt;
}
footer section{
    width: 300px;
    padding: 40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
}

footer section a:hover{
    text-decoration:underline;
    
}

footer section a{
    text-decoration: none;
}
