header {
    font-family: 'Kalam', cursive;
    background-color: white;
    color: black;
    line-height: 40px;
    border-bottom-style: solid;
    border-bottom-color: #9A0000;
    border-bottom-width: 40px;
}

.header img {
    float: right;
    width: 170px;
    height: 143px;
    margin-right: 50px;
    margin-top: -20px;
}

.header h1 {
    position: relative;
    top: 15px;
    left: 10px;
}


h1 {
    font-size: 70px;
    padding: inherit;
    text-align: center;

}

h2 {
    font-size: 20px;
    text-align: center;
}

section {
    display: -webkit-flex;
    display: flex;
}


nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 160px;
    font-size: 30px;
    font-family: 'Kalam', sans-serif;
    text-decoration: none;
    text-align: center;
}

.verticalmenu {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #9A0000;
    overflow-x: hidden;
    padding-top: 20px;
}

li a {
    display: block;
    color: white;
    padding: 30px 8px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: greenyellow;
}

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

main {
    display: contents;
    grid-template-columns: auto;


}

h3 {
    text-align: center;
    font-size: 40pt;
    font-family: 'Kalam', cursive;
    font-style: italic;
    text-align: center;

}

h4 {
    font-family: sans-serif;
    font-size: 25pt;
    text-align: center;
}

p {
    font-family: 'Kalam', sans-serif;
    font-size: 18pt;
    text-align: justify;
    margin-left: 160px;

}

img {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 150px;
}
