
/* General Layout Styles */


body {
	width: 100%;
	margin: 0 auto;
	background-color: #001629;
	
}
	
li {
	display: inline;
	padding: 0.5em;
}

section {
	width: 90%;

}





#background {
	overflow: auto;
}



#circle {
	position: relative;
	
}




/* ------------------------------------------------ ALL ANIMATIONS BELOW*/

#ball-move {
	width: 500px;
	position: relative;
    -webkit-animation-name: glide; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
    animation-name: glide;
    animation-duration: 7s;
    opacity: 0;
    z-index:-100px;
}

@-webkit-keyframes glide {
     0%  {left:0px; top:0px; opacity: 5;}

    50%% {left:800px; top:1000px; opacity: 3;}

     100% {left:1000px; top:-200px; opacity: 0;}
}


/* Standard syntax */
@keyframes glide {
    0%  {left:0px; top:0px; opacity: 5;}
   
    50% {left:800px; top:1000px; opacity: 3;}

    100% {left:1000px; top:-200px; opacity: 0;}
}

#bar-move1 {
width: 500px;
	position: relative;
    -webkit-animation-name: tink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 5s;
    animation-name: tink;
    animation-duration: 1s;
    opacity: 0;
    margin-left: -200px;

}

@-webkit-keyframes tink {
    0%  {left:0px; top:-2500px; opacity: 5;}
   
    100% {left:1000px; top:-2500px; opacity: 0;}
}



/* Standard syntax */
@keyframes tink {
    0%  {left:0px; top:-2500px; opacity: 5;}
   
    100% {left:1000px; top:-2500px; opacity: 0;}
}

#bar-move2 {
width: 500px;
	position: relative;
    -webkit-animation-name: tink; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 6s;
    animation-name: tink;
    animation-duration: 1s;
    opacity: 0;
    margin-left: -200px;

}

@-webkit-keyframes tink {
    0%  {left:0px; top:-2400px; opacity: 5;}
   
    100% {left:1000px; top:-2400px; opacity: 0;}
}



/* Standard syntax */
@keyframes tink {
    0%  {left:0px; top:-2400px; opacity: 5;}
   
    100% {left:1000px; top:-2400px; opacity: 0;}
}

#bar2-move1 {

	position: relative;
    -webkit-animation-name: struck; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 15.5s;
    animation-name: struck;
    animation-duration: 2.5s;
    opacity: 0;
    

}

@-webkit-keyframes struck {
    0%  {left:0px; top:-4000px; opacity: 5;}
   
    100% {left:0px; top:0px; opacity: 0;}
}



/* Standard syntax */
@keyframes struck {
    0%  {left:0px; top:-4000px; opacity: 5;}
   
    100% {left:0px; top:0px; opacity: 0;}
}



#buzzin {
font-family: 'Text Me One', sans-serif;
font-size: 400px;
text-align: center;
color: deeppink;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -400px;
position: relative;

 -webkit-animation-name: buz; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    animation-delay: 8s;
    animation-name: buz;
    animation-duration: 5s;
    opacity: 0;
    margin-left: -200px;

}

@-webkit-keyframes buz {
    0%  {left:-500px; top:0px; opacity: 5;}
   
    100% {left:1000px; top:0px; opacity: 0;}
}



/* Standard syntax */
@keyframes buz {
    0%  {left:-500px; top:0px; opacity: 5;}
   
    100% {left:1000px; top:0px; opacity: 0;}
}

#going {
font-family: 'Text Me One', sans-serif;
font-size: 200px;
text-align: center;
color: white;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -400px;
position: relative;

 -webkit-animation-name: going; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-delay: 13s;
    animation-name: going;
    animation-duration: 2s;
    opacity: 0;
    margin-left: -600px;

}

@-webkit-keyframes going {
    0%  {left:0px; top:-100px; opacity: 5;}
   
    100% {left:0px; top:-100px; opacity: 0;}
}



/* Standard syntax */
@keyframes going {
    0%  {left:0px; top:-100px; opacity: 5;}
   
    100% {left:0px; top:-100px; opacity: 0;}

}

#overboard {
font-family: 'Text Me One', sans-serif;
font-size: 100px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -50px;
position: relative;

 -webkit-animation-name: overboard; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
    animation-delay: 13.5s;
    animation-name: overboard;
    animation-duration: 2s;
    opacity: 0;
    margin-left: -600px;

}

@-webkit-keyframes overboard {
    0%  {left:500px; top:-100px; opacity: 5;}
   
    100% {left:1000px; top:-100px; opacity: 0;}
}



/* Standard syntax */
@keyframes overboard {
    0%  {left:500px; top:-100px; opacity: 5;}
   
    100% {left:1000px; top:-100px; opacity: 0;}

}

#dontWant {
	font-family: 'Text Me One', sans-serif;

font-size: 75px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -50px;
position: relative;

 -webkit-animation-name: dontWant; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 14.5s;
    animation-name: dontWant;
    animation-duration: 1s;
    opacity: 0;
    margin-left: -300px;

}

@-webkit-keyframes dontWant {
    0%  {left:500px; top:0px; opacity: 5;}
   
    100% {left:500px; top:0px; opacity: 0;}
}



/* Standard syntax */
@keyframes dontWant {
    0%  {left:500px; top:0px; opacity: 5;}
   
    100% {left:500px; top:0px; opacity: 0;}

}

#stop {
font-family: 'Frijole', cursive;
font-size: 350px;
text-align: center;
color: deeppink;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -50px;
position: relative;

 -webkit-animation-name: stop; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 15s;
    animation-name: stop;
    animation-duration: 1s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes stop {
    0%  {left:0px; top:-600px; opacity: 5;}
   
    100% {left:0px; top:-600px; opacity: 0;}
}



/* Standard syntax */
@keyframes stop {
    0%  {left:0px; top:-600px; opacity: 5;}
   
    100% {left:0px; top:-600px; opacity: 0;}

}

#now {
font-family: 'Frijole', cursive;
font-size: 350px;
text-align: center;
color: deeppink;
padding: 0px;
border: 0px;
z-index: 100px;
margin-top: -50px;
position: relative;

 -webkit-animation-name: now; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-delay: 15s;
    animation-name: now;
    animation-duration: 1s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes now {
    0%  {left:0px; top:-600px; opacity: 5;}
   
    100% {left:0px; top:-600px; opacity: 0;}
}



/* Standard syntax */
@keyframes now {
    0%  {left:0px; top:-600px; opacity: 5;}
   
    100% {left:0px; top:-600px; opacity: 0;}

}

#you {
font-family: 'Text Me One', sans-serif;
font-size: 75px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: you; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 16s;
    animation-name: you;
    animation-duration: 3s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes you {
    0%  {left:100px; top:-1300px; opacity: 5;}
   
    100% {left:100px; top:-1300px; opacity: 0;}
}



/* Standard syntax */
@keyframes you {
    0%  {left:100px; top:-1300px; opacity: 5;}
   
    100% {left:100px; top:-1300px; opacity: 0;}

}

#just {
font-family: 'Text Me One', sans-serif;
font-size: 75px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: just; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 16s;
    animation-name: just;
    animation-duration: 3s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes just {
    0%  {left:125px; top:-1200px; opacity: 5;}
   
    100% {left:125px; top:-1200px; opacity: 0;}
}



/* Standard syntax */
@keyframes just {
    0%  {left:125px; top:-1200px; opacity: 5;}
   
    100% {left:125px; top:-1200px; opacity: 0;}

}

#struck {
font-family: 'Text Me One', sans-serif;
font-size: 75px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: chord; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 16s;
    animation-name: chord;
    animation-duration: 2.5s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes chord {
    0%  {left:300px; top:-1100px; opacity: 5;}
   
    100% {left:300px; top:-1100px; opacity: 0;}
}



/* Standard syntax */
@keyframes chord {
    0%  {left:300px; top:-1100px; opacity: 5;}
   
    100% {left:300px; top:-1100px; opacity: 0;}

}

 #the {
font-family: 'Text Me One', sans-serif;
font-size: 50px;
text-align: center;
color: white;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: the; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    animation-delay: 20s;
    animation-name: the;
    animation-duration: 6s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes the {
    0%  {left:-500px; top:-1700px; opacity: 5;}
   
    100% {left:-500px; top:-1700px; opacity: 0;}
}



/* Standard syntax */
@keyframes the {
    0%  {left:-500px; top:-1700px; opacity: 5;}
   
    100% {left:-500px; top:-1700px; opacity: 0;}

}

#energy {
font-family: 'Text Me One', sans-serif;
font-size: 500px;
text-align: center;
color: orange;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: energy; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 20s;
    animation-name: energy;
    animation-duration: 2.5s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes energy {
    0%  {left:-200px; top:-1650px; opacity: 5;}
   
    100% {left:1400px; top:-1650px; opacity: 0;}
}



/* Standard syntax */
@keyframes energy {
    0%  {left:-200px; top:-1650px; opacity: 5;}
   
    100% {left:1400px; top:-1650px; opacity: 0;}

}

#chemistry {
font-family: 'Text Me One', sans-serif;
font-size: 300px;
text-align: center;
color: deeppink;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;

 -webkit-animation-name: chemistry; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2.5s; /* Safari 4.0 - 8.0 */
    animation-delay: 22s;
    animation-name: chemistry;
    animation-duration: 2.5s;
    opacity: 0;
    margin-left: 0px;

}

@-webkit-keyframes chemistry {
    0%  {left:0px; top:-2300px; opacity: 5;}
   
    100% {left:1400px; top:-2300px; opacity: 0;}
}



/* Standard syntax */
@keyframes chemistry {
    0%  {left:0px; top:-2300px; opacity: 5;}
   
    100% {left:140px; top:-2300px; opacity: 0;}

}




#spin {
	font-family: 'Text Me One', sans-serif;
font-size: 80px;
text-align: center;
color: lightblue;
padding: 0px;
border: 0px;
z-index: 100px;
position: relative;
    
 animation: spin 3s 
 -webkit-animation-name: spin; /* Safari 4.0 - 8.0 */
 -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    animation-delay: 17s;
    animation-name: spin;
    animation-duration: 3s;
    opacity: 0;
 


    }


@-webkit-keyframes spin {
        0% {top:-1800px; 
            transform: translateY(-10%) rotate(0deg); opacity: 5;
            background-color: aqua;
            
        }

        50% {top:-1600px;
            transform: translateY(50%) rotate(180deg);opacity: 2;
            background-color: deeppink;


        }
        100% {top:-1400px;
            transform: translateY(100%) rotate(360deg); opacity: 0;
            background-color: lightblue;
        }
    

/* Standard syntax */
@keyframes spin {
		0% {top:-1800px;
            transform: translateY(-10%) rotate(0deg); opacity: 5;
            background-color: aqua;
            
        }

        50% {top:-1600px;
            transform: translateY(50%) rotate(180deg);opacity: 2;
            background-color: deeppink;


        }
        100% {top:-1400px; 
            transform: translateY(100%) rotate(360deg); opacity: 0;
            background-color: lightblue;
        }
  
