a {
    color: #96ecff;
    font-size: 14pt; 
    font-style: bold;
    text-decoration: none;
    font-family: georgia;
    font-size: 20px;
    padding: 10px;
}

p{
    color: white;
    font-size: 13pt; 
    font-family: georgia;
}

html{
    background-color: #050f1a;
}

.container {
    width: 700px;
    height: auto;
    padding: 40px;
    background-color: #000000;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.inventory {
    display: block;
    text-align: center;
    font-family: fantasy;
    width: 700px;
    height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.item {
    width: 20px;
    height:20px;
}

.mainimage {
    display: block;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.pageimage {
    display: block;
    width: auto;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.startendbutton {
    font-size: 40pt; 
    text-decoration: none;
    text-align: center;
    align-content: center;
}

.option1 {
    width: 30%; 
    height: auto; 
    float: left; 
    background: #00123d;
    border-radius: 25px;
    
}

.option2 {
    width: 30%; 
    height: auto; 
    background: #00123d; 
    float: right;
    border-radius: 25px;
}