body {
	background-color: #FFFFFF;
	color: #000000;
	width: 90%;
	margin: 0 auto;
	font-family: 'Lato', san-serif;
	text-align: center;
	letter-spacing: 3px;
}

.loud {
	font-family: 'Futura', san-serif;
	font-size: 100pt;
	font-weight: bold;
}

.louder {
	font-family: 'Futura', san-serif;
	font-size: 140pt;
	font-weight: normal;
}

.loudest {
	font-family: 'Futura', san-serif;
	font-size: 140pt;
	font-weight: bold;
}

.soft {
	font-family: 'Lato', san-serif;
	font-size: 70pt;
}

/* DO */
#animation1 {
	position: fixed;
	left: 36%;
    animation: aOne .8s;
    animation-delay: .9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* IT */
#animation1b {
    position: fixed;
    right: 38%;
    animation: aOneb .7s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* JUST */
#animation2 {
    position: fixed;
    top: 20%;
    left: 38%;
    animation: aTwo .5s;
    animation-delay: 3.1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DO */
#animation3 {
    position: fixed;
    top: 20%;
    left: 42%;
    animation: aTwo .5s;
    animation-delay: 3.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* IT */
#animation4 {
    position: fixed;
    top: 20%;
    left: 46%;
    animation: aTwo .5s;
    animation-delay: 4.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DON'T */
#animation5 {
    position: fixed;
    top: 29%;
    left: 33%;
    animation: aThree .6s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* LET */
#animation5b {
    position: fixed;
    top: 29%;
    left: 55%;
    animation: aThree .6s;
    animation-delay: 6.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* YOUR */
#animation6 {
    position: fixed;
    top: 29%;
    left: 31%;
    animation: aThree .5s;
    animation-delay: 6.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DREAMS */
#animation6b {
    position: fixed;
    top: 29%;
    left: 42%;
    animation: aThree .6s;
    animation-delay: 6.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* BE */
#animation7 {
    position: fixed;
    top: 29%;
    left: 33%;
    animation: aThree .5s;
    animation-delay: 7.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DREAMS */
#animation7b {
    position: fixed;
    top: 29%;
    left: 42%;
    animation: aThree .9s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* YESTERDAY */
#animation8 {
    position: fixed;
    top: 10%;
    animation: move .6s;
    animation-delay: 9.4s;
    animation-timing-function: ease-in;
    opacity: 0;
}

/* YOU */
#animation8b {
    position: fixed;
    top: 20%;
    left: 8%;
    animation: aThree .6s;
    animation-delay: 9.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* SAID */
#animation8c {
    position: fixed;
    top: 30%;
    left: 8%;
    animation: aThree .6s;
    animation-delay: 10.1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* TOMORROW */
#animation8d {
    position: fixed;
    top: 40%;
    left: 8%;
    animation: tomorrow .7s;
    animation-delay: 10.2s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* SO */
#animation9 {
    position: fixed;
    top: 19%;
    left: 43%;
    animation: aTwo .5s;
    animation-delay: 10.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* JUST */
#animation9b {
    position: fixed;
    top: 19%;
    left: 38%;
    animation: aTwo .5s;
    animation-delay: 11.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DO */
#animation9c {
    position: fixed;
    top: 19%;
    left: 43%;
    animation: aTwo .5s;
    animation-delay: 12s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* IT */
#animation9d {
    position: fixed;
    top: 19%;
    left: 46%;
    animation: aTwo .5s;
    animation-delay: 12.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* MAKE */
#animation10 {
    position: fixed;
    top: 10%;
    left: 15%;
    animation: aThree .5s;
    animation-delay: 13s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* YOUR */
#animation11 {
    position: fixed;
    top: 15%;
    left: 20%;
    animation: aThree .5s;
    animation-delay: 13.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DREAMS */
#animation12 {
    position: fixed;
    top: 20%;
    left: 25%;
    animation: aThree .5s;
    animation-delay: 13.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* COME */
#animation13 {
    position: fixed;
    top: 15%;
    left: 40%;
    animation: aThree .5s;
    animation-delay: 14.4s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* TRUE */
#animation14 {
    position: fixed;
    top: 20%;
    left: 50%;
    animation: aThree .5s;
    animation-delay: 14.7s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* JUST */
#animation15 {
    position: fixed;
    top: 10%;
    animation: aFour .5s;
    animation-delay: 15.6s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* DO */
#animation15b {
    position: fixed;
    top: 10%;
    animation: aFive .8s;
    animation-delay: 16.5s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* IT */
#animation15c {
    position: fixed;
    top: 10%;
    left: 35%;
    animation: aSix .5s;
    animation-delay: 16.9s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes aOne {
    0% {
    	top: 0%; 
    	opacity: 0;
    }

    50% {
    	top: 20%; 
    	opacity: .5;
    }

    75% {
    	top: 20%; 
    	opacity: 1;
    }

    100% {
    	top: 20%; 
    	opacity: 0;
    }
}

@keyframes aOneb {
    0% {
    	bottom: 0%; 
    	opacity: 0;
    }

    50% {
    	bottom: 24%; 
    	opacity: 1;
    }

    75% {
    	bottom: 24%;  
    	opacity: 1;
    }

    100% {
    	bottom: 24%;  
    	opacity: 0;
    }
}

@keyframes aTwo {
    0% {
    	opacity: 0;
    }

    50% {
    	opacity: 1;
    }

    75% {
    	opacity: 1;
    }

    100% {
    	opacity: 0;
    }
}

@keyframes aThree {
    0% {
    	opacity: 0;
    }

    50% {
    	opacity: 1;
    }

    75% {
    	opacity: 0.5;
    }

    100% {
    	opacity: 0;
    }
}

@keyframes aFour {
   	0% {
    	left: 0%; 
    	opacity: 0;
    }

    50% {
    	left: 13%; 
    	opacity: 1;
    }

    75% {
    	left: 13%; 
    	opacity: 1;
    }

    100% {
    	left: 13%; 
    	opacity: 1;
    }
}

@keyframes aFive {
   	0% {
    	left: 0%; 
    	opacity: 0;
    }

    50% {
    	left: 49%; 
    	opacity: 1;
    }

    75% {
    	left: 49%; 
    	opacity: 1;
    }

    100% {
    	left: 49%; 
    	opacity: 1;
    }
}

@keyframes aSix {
   	0% {
    	left: 0%; 
    	opacity: 0;
    }

    50% {
    	left: 73%; 
    	opacity: 1;
    }

    75% {
    	left: 73%; 
    	opacity: 1;
    }

    100% {
    	left: 73%; 
    	opacity: 1;
    }
}

@keyframes move {
	from { left: 8%;}
	to { left: 0%; }
	0% {
    	opacity: 0;
    }

    50% {
    	opacity: 1;
    }

    75% {
    	opacity: 0.5;
    }

    100% {
    	opacity: 0;
    }
}

@keyframes tomorrow {
    0% {
        transform: rotate(0deg);
        opacity: 1;
	}

    50% {
        transform: rotate(180deg);
        opacity: 0.5;
	}

    100% {
    	opacity: 0;
    }
}