body{
    background-image: url(../background_1.jpg);
    background-repeat: no-repeat}
.container{
    background-color: #1FA3B5;
    width: 800px;
    margin: auto;
    padding:25pt;
    border-style: solid;
    border-radius: 10px;}
.center{
    margin-left: 155px;
    margin-top: 0px
}
figure figcaption{
    text-align: center}
.Space{
    display: inline-block;
    letter-spacing: 100px;
    padding-left: 34px}
h1{
    font-size: 50px;
    font-family: "copperplate", fantasy;
    letter-spacing: 20px;
    text-align: center;
    padding-left: 22px}
p{
    font-size: 20px;
    font-family: Georgia
}