@charset "UTF-8";
/* CSS Document */
h1 {
	color: #FFC7C8;
	font-family: 'Courier', monospace;
	font-size: 40pt;
	text-align: center;
	-webkit-text-stroke: 2px #FF00D2;
}
p {
	color: #FF00D2;
	font-size: 12pt;
	line-height: 18pt;
	margin-left: 150px;
	margin-right: 150px;
	text-align: justify;
	margin-top: 25px;
	margin-bottom: 25px;
	
}
a {
	color: #ad0c00;
	text-decoration: none;
	
}
body{
	background-color: black;
}
button {
	background-color: #FFC5C6;
	font-family: "courier";
	font-size: 18pt;
	text-align: justify;
	
}

img {
	margin-right: 50px;
	margin-left: 150px;
	background-color: #F9D2D3;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 25px;
	padding-bottom: 25px;
}
div {
	background-color: black;
	padding:25px;
	width: 800px;
	margin: auto;
}
p2 {
	margin-left:150px;
}
p3 {
	margin-left:150px;
}