html {
    background-color: #ff9f31;
}

header
{font-size:50px;
 color: white;
text-align: center;}

body {
    width: 960px;
    padding: 50px;
   
    margin-right: auto;
    margin-left: auto;
    background-color: #feba6d;
    text-align: left;

}



h1 {
    font-family: 'Amatic SC', cursive;
    background-color: #053e3c;
    font-size: 50px;
    color: white;
    padding: 50px;
    
     text-align: left;
    padding-right: 24px;
}

h2 {
    font-family: 'Amatic SC', cursive;
    background-color: #053e3c;
    font-size: 50px;
    color: white;
    padding-top: 25px;
     padding-bottom: 25px;
     padding-right: 24px;
     text-align: right;
}

p {
    font-family: 'Sue Ellen Francisco', cursive;
    background-color: #053e3c;
    font-size: 20px;
    color: white;
    padding: 25px
}



a {
    font-family: 'Amatic SC', cursive;
    text-decoration:none;
    color: #f93a26;
    font-size:25px;
}
    a:hover{
        color:white;
    }
        
        
}

img {
   display: block;
    margin-left:auto;
    margin-right:auto;
    border: 50px solid #f6bbee;
  
    
}

footer {
    
    margin-left:auto;
    margin-right:auto;
   
    
}




ul
{list-style:none;
    
    
}
li+li {margin-top: 10px;}
