@font-face {
  font-family: bod;
  src: url(../fonts/exo.ttf);
}
@font-face {
  font-family: big;
  src: url(../fonts/coconat.otf);
}
body {
  background-color: #4c2e4d;
  
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  text-align: center;
  font-family: bod;
  color: white;
  cursor:url("../images/cursor.gif"), default;
}
/* .pic {
  margin-left:  auto;
margin-right: auto;
} */
p {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
li {
  display: inline-block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding: 5px;
  font-size: 25px;
}

img {
  border: 5px solid white;
  box-shadow: 2px 2px 15px white;
  width: 700px;
}

a:link {
  color: hotpink;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #4c2e4d;
  text-shadow: 0px 20px 20px white, 0px 0px 50px white;
  text-decoration: none;
  /* font-size: 26px; */
}
a {
  font-family: big;
  cursor:url("../images/cursor.gif"), default;
}
img:hover {
  transform: scaleX(-1);
}
