body{
    background-color: black;
}

nav{
    text-align: center;
    font-family: "Bebas Neue Regular";
    font-size: 22pt;
}

a{
    color: #FBB040;
    padding: 50px;
}

h1{
   color: #FFDE17;
    font-family: "Futura Next Medium";
    text-align: center;
    font-size: 33pt;
    padding-top: 25px;
}

main{
    color: #FFDE17;
    font-family: "Futura Next Medium";
    font-style: oblique;
    font-size: 22pt;
    text-align: center;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-content: space-between;
}

.flex-container>img{
    margin-left: 50px;
    margin-right: 50px;
}

.container{
    width: 900px;
    margin: auto;
}

.map{
    padding-top: 50px;
    color: #FFDE17;
    font-family: "Futura Next Medium";
    padding-left: 25px;
    font-size: 20pt;
    height: 250px;
}

.map>img{
    float: left;
    padding-right: 15px;
}

footer{
    font-family: "Futura Next Medium";
    font-style: oblique;
    color: #FBB040;
    text-align: center;
}